.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.registerBox {
    background: rgb(135, 165, 222);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(71, 128, 162, 0.1);
    width: 350px;
    text-align: center;
}

.formGroup {
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

.registerButton {
    background-color: #5579b8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.registerButton:hover {
    background-color: rgb(230, 226, 231);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}